{% block about %}

<div class="flexbox photo-text">

  <div class="photo-placeholder">
      <div class="photo-blank">
        <img src="{{url_for('static', filename='images/portretas.jpg')}}" alt="Portretas" width="160px"/>
      </div>
      <p class="photo-description">Doc. Dr. advokatas Gintautas Danišauskas</p>
  </div>


  <div class="default-textbox">
    <h1 class="padded-heading" style="text-transform:uppercase;">
      Patirtis teikiant teisines paslaugas Lietuvos žmonėms – virš 20 metų.
    </h1>

    <p class=padded-text>
      Nuo 1998 metų iki 2020 metų viešosios įstaigos „Teisinės pagalbos centras" darbuotojas bei direktorius teikiant Lietuvos žmonėms, susidūrusiems su įvairiomis teisinėmis problemomis kvalifikuotas teisines paslaugas.
      <br>
      2013 metais Advokatūros Advokatų tarybos sprendimu pripažintas Lietuvos advokatu ir 2018 metais aktyviai įsijungęs į praktinę veiklą advokatūros struktūroje.
    </p>

    </div>
</div>

<div class="flexbox about">
  <div class="about-textbox-1">
    <h2 class="padded-heading">Mokslo bei profesiniai vardai</h2>
    <ul class="padded-list" alt="Profesiniai vardai">

      <li class="flexbox img-description">
        <div class="logo-placeholder">
          <img src="{{url_for('static', filename='images/VU.svg')}}" alt="Vilniaus universiteto logotipas"  />
        </div>

        <p class="p-description">Vilniaus universiteto teisės fakulteto vienpakopės studijos - teisininko universitetinis kvalifikacinis laipsnis</p>
      </li>

      <li class="flexbox img-description">
          <div class="logo-placeholder ">
            <img src="{{url_for('static', filename='images/MRU.svg')}}" alt="Mykolo Romerio universiteto logotipas"  />
          </div>
          <p class="p-description">Teisės universiteto stacionarios doktorantūros studijos – Socialinių mokslų teisės krypties daktaro laipsnis</p>
      </li>

      <li class="flexbox img-description">
        <div class="logo-placeholder ">
          <img src="{{url_for('static', filename='images/MRU.svg')}}" alt="Mykolo Romerio universiteto logotipas"  />
        </div>
        <p class="p-description">Romerio universiteto docento vardas</p>
      </li>

      <li class="flexbox img-description">

          <div class="logo-placeholder">
            <img src="{{url_for('static', filename='images/Advokatura.jpg')}}" alt="Lietuvos advokatūros logotipas" class="zoomed"" />
          </div>
          <p class="p-description">Lietuvos advokatūros advokatas, advokatūros komiteto narys</p>

      </li>

    </ul>
</div>

<div class="about-textbox-2">

  <h2 class="padded-heading">Moksliniai ir profesiniai interesai</h2>

  <p class="padded-text">Teisingi socialiniai santykiai, efektyvi valstybės institucijų veikla tarnaujant (teikiant paslaugas) Lietuvos žmonėms, Lietuvos teismų veikla vykdant teisingumą bei teisingumo vykdymo peripetijos.</p>

  <div class="padded-list">
  <h2 class="padded-heading" style="padding-left: 0;">Informacija apie advokatą<br> Doc. Dr. Gintautą Danišauską</h2>
    <div class="blog-section-list">
      {% for article in articles_l: %}
        <div class="blog-section-list element">
          <a href="/straipsniai/{{article.id}}">{{article.header | safe}}</a>
        </div>
      {% endfor %}
    </div>
</div>

  </div>
</div>

{% endblock %}