
{% block contact %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, msg in messages %}
                    <li class="messages {{ category }}">{{msg}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
<div id="contact-page">
    <div class="left-side">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2307.0333917160992!2d25.256706776719945!3d54.67384057270399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd947107a74139%3A0x3a7d234aceecec34!2sSmolensko%20g.%2019-1f%2C%20Vilnius%2C%2003205%20Vilniaus%20m.%20sav.%2C%20Lithuania!5e0!3m2!1sen!2sde!4v1749405148291!5m2!1sen!2sde"
         allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contact-info">
            <h3>Kontaktinė informacija</h3>
            <p><strong>Adresas:</strong> Smolensko g. 19/1F, LT-03200 Vilnius. </p>
            <p><strong>Telefonas:</strong> <a href="tel:+37068525358">+370 685 25 358</a></p>
            <p><strong>El. paštas:</strong> <a href="mailto:danigint2@gmail.com">danigint2@gmail.com</a></p>
        </div>
    </div>

    <div class="right-side">
        {% include "contact-form.html" %}
    </div>
</div>
{% endblock %}