
{% block contact %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, msg in messages %}
                    <li class="messages {{ category }}">{{msg}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
<div id="contact-page">
    <div class="left-side">
        <iframe src="https://maps.google.com/maps?q=Vilnius%2C%20Lithuania&z=12&output=embed"
         allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="contact-info">
            <h3>Kontaktinė informacija</h3>
            <p><strong>Vieta:</strong> Vilnius, Lietuva</p>
            <p><strong>Telefonas:</strong> Nenurodomas</p>
        </div>
    </div>

    <div class="right-side">
        {% include "contact-form.html" %}
    </div>
</div>
{% endblock %}