
  <footer>
    <div class="footer-content">
      <p>Gintautas Danišauskas. Visos teisės saugomos.</p>
      <div class="footer-links">
        <a href="mailto:danigint2@gmail.com">danigint2@gmail.com</a>
        <span>|</span>
        <a href="tel:+37068525358">+370 685 25 358</a>

      </div>
       <div class="footer-links">
          IT Sprendimai:
          <a class="it-links" href="https://programavimodarbai.lt" target="_blank">
          <img src="{{url_for('static', filename='images/ff_icon.png')}}" alt="ProgramavimoDarbai logotipas">
          ProgramavimoDarbai.lt
        </a>
    </div>
  </footer>